---
layout: default
---
<table class="main">
<tr>
	<script>
	window.onload=function(){var e=new Date,m=new Array(7);m[0]="msun",m[1]="mmon",m[2]="mtue",m[3]="mwed",m[4]="mthu",m[5]="mfri",m[6]="msat";var a=m[e.getDay()];document.getElementById(a).className="ctd"};
	</script>
	<td class="wtd" onClick="javascript:location.href='./월';" id="mmon">월</td>
	<td class="wtd" onClick="javascript:location.href='./화';" id="mtue">화</td>
	<td class="wtd" onClick="javascript:location.href='./수';" id="mwed">수</td>
	<td class="wtd" onClick="javascript:location.href='./목';" id="mthu">목</td>
	<td class="wtd" onClick="javascript:location.href='./금';" id="mfri">금</td>
	<td class="wtd" onClick="javascript:location.href='./토';" id="msat">토</td>
	<td class="wtd" onClick="javascript:location.href='./일';" id="msun">일</td>
</tr>
</table>
<table>
<tr>
	<td valign="top" class="lmon">
	<!-- 월 -->
	{% for post in site.categories.mon %}
		<div class="info">
		<a href="{{ post.url | prepend: site.baseurl }}">
		<img class="info" alt="{{ post.title }}" src="{{ post.img }}">
		</a>
		</div>
		<div class="info"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></div>
	{% endfor %} 
	</td>
	<td valign="top" class="ltue">
	<!-- 화 -->
		{% for post in site.categories.tue %}
		<div class="info">
		<a href="{{ post.url | prepend: site.baseurl }}">
		<img class="info" alt="{{ post.title }}" src="{{ post.img }}">
		</a>
		</div>
		<div class="info"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></div>
		{% endfor %} 
		</td>
	
	<td valign="top" class="lwed">
	<!-- 수 -->
	{% for post in site.categories.wed %}
		<div class="info">
		<a href="{{ post.url | prepend: site.baseurl }}">
		<img class="info" alt="{{ post.title }}" src="{{ post.img }}" >
		</a>
		</div>
		<div class="info"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></div>
	{% endfor %} 
	</td>
	
	<td valign="top" class="lthu">
	<!-- 목 -->
	{% for post in site.categories.thu %}
		<div class="info">
		<a href="{{ post.url | prepend: site.baseurl }}">
		<img class="info" alt="{{ post.title }}" src="{{ post.img }}">
		</a>
		</div>
		<div class="info"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></div>
	{% endfor %} 
	</td>
	
	<td valign="top" class="lfri">
	<!-- 금 -->
	{% for post in site.categories.fri %}
		<div class="info">
		<a href="{{ post.url | prepend: site.baseurl }}">
		<img class="info" alt="{{ post.title }}" src="{{ post.img }}">
		</a>
		</div>
		<div class="info"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></div>
	{% endfor %} 
	</td>
	
	<td valign="top" class="lsat">
	<!-- 토 -->
	{% for post in site.categories.sat %}
		<div class="info">
		<a href="{{ post.url | prepend: site.baseurl }}">
		<img class="info" alt="{{ post.title }}" src="{{ post.img }}">
		</a>
		</div>
		<div class="info"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></div>
	{% endfor %} 
	</td>
	
	<td valign="top" class="lsun">
	<!-- 일 -->
	{% for post in site.categories.sun %}
		<div class="info">
		<a href="{{ post.url | prepend: site.baseurl }}">
		<img class="info" alt="{{ post.title }}" src="{{ post.img }}">
		</a>
		</div>
		<div class="info"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></div>
	{% endfor %} 
	</td>
</tr>
</table>
</body>
<html>
