<header>
<script>
	{% include scripts/simple-search.html %}
</script>
<script src="/static/js/Search.js"></script>
<div role="navigation" id="search">
	<input type="search" class="search-field" placeholder="검색 " id="searchbox">
	<i class="fa fa-times icon-remove-sign fa-lg"></i> 	
	<ul class="results leaders"></ul>
</div>
<div id='menu'>
<ul>
   <li><a href='/'>Home</a></li>
   <li><a href='/2016-2'>2016년 2분기</a>
	<ul>
		<li><a href='/월'>월</a></li>
		<li><a href='/화'>화</a></li>
		<li><a href='/수'>수</a></li>
		<li><a href='/목'>목</a></li>
		<li><a href='/금'>금</a></li>
		<li><a href='/토'>토</a></li>
		<li><a href='/일'>일</a></li>
        </ul>
	</li>
	<li><a href='/2016-1'>2016년 1분기</a>
	<li><a href='/완결애니'>완결애니</a></li>
   <li><a href='/ost'>OST</a></li>
   <li><a href='/tags'>tags</a></li>
</ul>
</div>
<table class="main">
<tr>
	<td class="wtd" onClick="javascript:location.href='/월';" id="mmon">월</td>
	<td class="wtd" onClick="javascript:location.href='/화';" id="mtue">화</td>
	<td class="wtd" onClick="javascript:location.href='/수';" id="mwed">수</td>
	<td class="wtd" onClick="javascript:location.href='/목';" id="mthu">목</td>
	<td class="wtd" onClick="javascript:location.href='/금';" id="mfri">금</td>
	<td class="wtd" onClick="javascript:location.href='/토';" id="msat">토</td>
	<td class="wtd" onClick="javascript:location.href='/일';" id="msun">일</td>
	<td class="wtd" onClick="javascript:location.href='/완결애니';" id="msun">완</td>
</tr>
</table>
</header>
