---
layout: default
---
<table>
<tbody><tr>
	<td valign="top" width="690">
<iframe id="player" src="//moeni.net/player.php?path={{ page.path }}" width="100%" height="400px" allowfullscreen></iframe>
<div class="info_box">
<div class="info_name">{{ page.title }}</div>
<div class="info_text">총회수: {{ page.num }}</div>
<div class="info_text">갱신일: {{ page.date | date: "%b %-d, %Y" }}</div>
</div>
</td>
	<td width="10"></td>
	<td valign="top" width="300">
<div style="display: table-cell;">
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- mo -->
	<ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:250px"
     data-ad-client="ca-pub-9721987733707799"
     data-ad-slot="5283134061"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
<img src="{{ page.img }}" alt="{{ page.path }}" style="width:100%;"/>
</div>
</tr>
		</tbody></table>
{{content}}

{% include comments.html %}