---
layout: default
---
<table>
<tbody><tr>
<style>
.info_box{
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
    padding: 10px 10px 10px 10px;
    box-sizing: border-box;
	max-width:100%;
	margin: 10px;
}
.info_name {
    font: bold 14pt Dotum;
    color: #333333;
    margin-bottom: 5px;
}
.info_text {
    font: bold 10pt Dotum;
    color: #777777;
}
td#p{
	width:300px;
	vertical-align: top;
	}
td#a{
	vertical-align: top;
	width:690px;
	}
@media (max-width: 768px){
	td#p{
		display:none;
	}
	td#a{
		width:100%;
	}
}
</style>
<td id="a">
<div class="info_box">
<div class="info_name">{{ page.title }}</div>
<div class="info_text">갱신일: {{ page.date | date: "%b %-d, %Y" }}</div>
</div>
<div>
{{content}}
</div>
<div>
<ul>
  {% for tags in page.tags %}
    <li>{{ tags }}</li>
  {% endfor %}
</ul>
</div>

{% include comments.html %}
</td>
<td id="p">

<div style="text-align: center;">
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="T8E6L33TZ4BBN">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
</div>
</tr>
</tbody>
</table>
