---
layout: default
---
<table>
<tbody><tr>
<style>
.info_box{
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
    padding: 10px 10px 10px 10px;
    box-sizing: border-box;
	max-width:100%;
}
.info_name {
    font: bold 14pt Dotum;
    color: #333333;
    margin-bottom: 5px;
}
.info_text {
    font: bold 10pt Dotum;
    color: #777777;
}
td#p{
    vertical-align: top;
	width:300px;
	}
td#a{
	width:690px;
	}
@media (max-width: 768px){
	td#p{
		display:none;
	}
	td#a{
		width:100%;
	}
}
</style>
<td id="a">
{% if page.dir %}
<iframe id="player" src="//api.moeni.net/player.php?path={{ page.dir }}" width="100%" height="450px" allowfullscreen></iframe>
{% endif %}
<div>
{{content}}
<div>
<div class="info_box">
<div class="info_name">{{ page.title }}</div>
<div class="info_text">총회수: {{ page.num }}</div>
<div class="info_text">갱신일: {{ page.date | date: "%b %-d, %Y" }}</div>
</div>
</td>
<td id="p">
<div style="display: table-cell;">
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- mo -->
	<ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:250px"
     data-ad-client="ca-pub-9721987733707799"
     data-ad-slot="5283134061"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
{% if page.img %}
<img src="{{ page.img }}" alt="{{ page.path }}" style="width:100%;"/>
{% endif %}
</div>
</tr>
</tbody>
</table>

{% include comments.html %}